/* Nautilus Pathbar Buttons */

NautilusPathBar.linked .button,
NautilusPathBar .button,
NautilusPathBar.linked .button:backdrop,
NautilusPathBar .button:backdrop,
NautilusPathBar.linked .button:hover:backdrop,
NautilusPathBar .button:hover:backdrop {
	background-color: transparent;
    background-image: none;

    border-image: url("assets/nautilus-pathbar3.svg") 0 5 13 5 / 0px 1px 13px 1px stretch;
    border-radius: 0;
    border-width: 3px 1px 13px 1px;
    border-style: solid;
    border-color: transparent;

	box-shadow: inset 0 -1px alpha(black, 0.12);

	transition: 260ms ease-out;
	
	text-shadow:  1px  1px alpha(black, 0.24);
	font-weight: bold;
	color:@theme_text_color;
	
}

NautilusPathBar.linked .button:hover {
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-hover.svg") 0 5 13 5 / 0px 1px 13px 1px stretch;
    border-radius: 0;
    border-width: 3px 1px 13px 1px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
}

NautilusPathBar.linked .button:hover:first-child{
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-hover.svg") 0 5 13 5 / 0px 1px 13px 2px stretch;
    border-radius: 0;
    border-width: 3px 1px 13px 2px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
	
}

NautilusPathBar.linked .button:hover:last-child {
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-hover.svg") 0 5 13 5 / 0px 2px 13px 1px stretch;
    border-radius: 0;
    border-width: 3px 2px 13px 1px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
}

NautilusPathBar.linked .button:active,
NautilusPathBar.linked .button:active:backdrop {
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-active.svg") 0 5 13 5 / 0px 1px 13px 1px stretch;
	border-radius: 2px;
    border-width: 3px 1px 13px 1px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
	color: mix(@theme_selected_bg_color, @theme_text_color, 0.85);
	text-shadow:  -1px  -1px alpha(black, 0.30);
}

NautilusPathBar.linked .button:active:hover,
NautilusPathBar.linked .button:active:hover:backdrop {
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-active-hover.svg") 0 5 13 5 / 0px 1px 13px 1px stretch;
	border-radius: 0;
    border-width: 3px 1px 13px 1px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
}
    /* Leftmost toolbar-button */
NautilusPathBar.linked .button:first-child,
NautilusPathBar.linked .button:first-child:backdrop,
NautilusPathBar.linked .button:hover:first-child:backdrop,

NautilusPathBar.linked .button:insensitive:first-child,
NautilusPathBar.linked .button:insensitive:first-child:backdrop {
	background-color: transparent;
    background-image: none;

	box-shadow: inset 0 -1px alpha(black, 0.12);

	border-image: url("assets/nautilus-pathbar3.svg") 0 5 13 5 / 0px 1px 13px 2px stretch;
    border-radius: 0;
    border-width: 3px 1px 13px 2px;
}

NautilusPathBar.linked .button:active:first-child,
NautilusPathBar.linked .button:active:first-child:backdrop {
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-active.svg") 0 5 13 5 / 0px 1px 13px 2px stretch;
	border-radius: 2px;
    border-width: 3px 1px 13px 2px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
}

NautilusPathBar.linked .button:active:hover:first-child,
NautilusPathBar.linked .button:active:hover:first-child:backdrop {
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-active-hover.svg") 0 5 13 5 / 0px 1px 13px 2px stretch;
	border-radius: 0;
    border-width: 3px 1px 13px 2px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
}

    /* Rightmost toolbar-button */
NautilusPathBar.linked .button:last-child,
NautilusPathBar.linked .button:last-child:backdrop,
NautilusPathBar.linked .button:hover:last-child:backdrop,

NautilusPathBar.linked .button:insensitive:last-child,
NautilusPathBar.linked .button:insensitive:last-child:backdrop {
	background-color: transparent;
    background-image: none;

	box-shadow: inset 0 -1px alpha(black, 0.12);

	border-image: url("assets/nautilus-pathbar3.svg") 0 5 13 5 / 0px 3px 13px 1px stretch;
    border-radius: 0;
    border-width: 3px 3px 13px 1px;
}

NautilusPathBar.linked .button:active:last-child,
NautilusPathBar.linked .button:active:last-child:backdrop {
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-active.svg") 0 5 13 5 / 0px 2px 13px 1px stretch;
	border-radius: 2px;
    border-width: 3px 2px 13px 1px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
}

NautilusPathBar.linked .button:active:hover:last-child,
NautilusPathBar.linked .button:active:hover:last-child:backdrop {
	background-color: transparent;
    background-image: none;
	border-image: url("assets/nautilus-pathbar3-active-hover.svg") 0 5 13 5 / 0px 2px 13px 1px stretch;
	border-radius: 0;
    border-width: 3px 2px 13px 1px;
    border-style: solid;
    border-color: transparent;
	box-shadow: inset 0 -1px alpha(black, 0.12);
}

    /* Single toolbar-button */
NautilusPathBar.linked .button:only-child,
NautilusPathBar.linked .button:only-child:active,
NautilusPathBar.linked .button:only-child:backdrop,
NautilusPathBar.linked .button:hover:only-child:backdrop,

NautilusPathBar.linked .button:insensitive:only-child,
NautilusPathBar.linked .button:insensitive:only-child:backdrop {
	background-color: transparent;
    background-image: none;
	border-width: 3px 3px 13px 3px;
	border-image: url("assets/nautilus-pathbar3-active.svg") 0 5 13 5 / 0px 2px 13px 2px stretch;
	box-shadow: inset 0 -1px alpha(black, 0.12);

    border-radius: 0;
    border-width: 3px 2px 13px 2px;
}

NautilusPathBar.linked .button:only-child:hover,
NautilusPathBar.linked .button:only-child:active:hover {
	background-color: transparent;
    background-image: none;
	border-width: 3px 3px 13px 3px;
	border-image: url("assets/nautilus-pathbar3-active-hover.svg") 0 5 13 5 / 0px 2px 13px 2px stretch;
	box-shadow: inset 0 -1px alpha(black, 0.12);

    border-radius: 0;
    border-width: 3px 2px 13px 2px;
}
