/* Decorations */

UnityDecoration {
    -UnityDecoration-extents: 28px 1px 1px 1px;
    -UnityDecoration-input-extents: 10px;

    -UnityDecoration-shadow-offset-x: 1px;
    -UnityDecoration-shadow-offset-y: 5px;
    -UnityDecoration-active-shadow-color: rgba (0, 0, 0, 0.75);
    -UnityDecoration-active-shadow-radius: 30px;
    -UnityDecoration-inactive-shadow-color: rgba (0, 0, 0, 0.3);
    -UnityDecoration-inactive-shadow-radius: 25px;

    -UnityDecoration-glow-size: 10px;
    -UnityDecoration-glow-color: #076BB6;

    -UnityDecoration-title-indent: 10px;
    -UnityDecoration-title-fade: 35px;
    -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
    border: 1px solid #262626;
    border-bottom-width: 0;
    border-radius: 7px 7px 0 0;
    padding: 1px 6px 0 6px;

    box-shadow: inset 0 1px #4f4f4f;

    background-clip: border-box;
    color: @theme_fg_color;
    background-color: @theme_bg_color;
    background-image: linear-gradient(to bottom,
                                      alpha(white, 0.1),
			              alpha(white, 0.04)),
                      url("assets/delorean-dark-bg.png");
    background-repeat: repeat;
    background-position: top left;
    text-shadow: -1px 0 alpha(black,0.22),  0 -1px alpha(black,0.22);
}

UnityDecoration.top:backdrop {
    border: 1px solid #262626;
    border-bottom-width: 0;
    background-color: @theme_bg_color;
    background-clip: border-box;
    background-image: linear-gradient(to bottom,
                                      alpha(white, 0.1),
			              alpha(white, 0.04)),
                      url("assets/delorean-dark-bg.png");
    background-repeat: repeat;
    background-position: top left;
    color: #5d5d5e;
text-shadow: none;
	box-shadow: inset 0 1px #424242;
}

UnityDecoration.left,
UnityDecoration.right {
    background-color: #262626;
     background-image: none;

}

UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop {
    background-color: #262626;
     background-image: none;
}

UnityDecoration.bottom {
    background-color: #242424;
     background-image: none;
   border-radius: 0px 0px 2px 2px;
}

UnityDecoration.bottom:backdrop {
    background-color: #262626;
     background-image: none;
   border-radius: 0px 0px 2px 2px;
}


/* Panel Style */
UnityPanelWidget,
.unity-panel {
	background-image: linear-gradient(to bottom,
                                      alpha(white, 0.1),
			              alpha(white, 0.04)),
                      url("assets/delorean-dark-bg.png");
    background-repeat: repeat;
    background-position: top left;
    background-color: transparent;
	box-shadow: none;
	border-style: none;
}

.unity-panel.menubar,
.unity-panel .menubar {
	color: @theme_text_color;
    text-shadow: 0 -1px alpha(black, 0.16);
}

.unity-panel.menuitem,
.unity-panel .menuitem {
	color: @theme_text_color;
	icon-shadow: 0 -1px alpha(black, 0.16);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
	padding: 3px 8px;

    background-image: none;
    background-color: @menu_bg_color;
	border-color: shade(@menu_bg_color, 0.8);
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;

    color: shade(@menu_fg_color, 0.88); 
    text-shadow: 0 -1px alpha(black, 0.016);
}

SheetStyleDialog.unity-force-quit {
    background-color: @theme_base_color;
}
